---
permalink: '/manifest.webmanifest'
eleventyExcludeFromCollections: true
---
{
  "name": "ecrosstexas_site Template",
  "short_name": "ecrosstexas_site",
  "display": "standalone",
  "start_url": "/"
}
